body {
    background-color: rgb(141, 120, 120);
    width: auto;
    padding: 50px;
}

.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: auto;
    /* height: 80vh; */
    border: 1px solid rgb(117, 88, 88);
    box-shadow: 10px 10px 10px rgba(59, 5, 5, 0.2);
    border-radius: 6px;
    background-color: rgb(170, 161, 148);
    
}

#entry, #gndr {
    color: rgb(0, 0, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 9px;
}

#option {
    font-weight: lighter;
    font-size: 2px;
}

label {
    display: block;
    padding: 8px;
}

input, #gender {
    /* height: 30px; */
    border-radius: 6px;
    border: none;
    width: 92%;
    padding: 9px;
    background-color: rgb(235, 210, 172);
    outline: none;
}

#gender{
    /* height: 50px; */
    width: 250px;
}

#submit {
    display: block;
    padding: 5px 10px;
    margin: 20px auto;
    width: 200px;
    background-color: rgb(108, 108, 150);
    outline: none;
    border: none;
    border-radius: 2px;
    word-spacing: 5px;
    height: 40px;

}